xterm*rightScrollBar: true
xterm*background: black
xterm*foreground: white
xterm*selectToClipboard: true
xterm*scrollTtyOutput: false
xterm*font: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-iso10646-1

